In [1]:
# Proses import library seperti numpy, matplotlb, pandas,
# dan terdapat juga import library sklearn utntuk pre processing data

import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
%matplotlib inline
from sklearn import preprocessing

In [2]:
# Proses read data dari dataset kendaraan_test yang disimpan dalam variabel df lalu ditampilkan data 5 teratas.

df = pd.read_csv('Dataset/kendaraan_test.csv')
df.head()

,Jenis_Kelamin,Umur,SIM,Kode_Daerah,Sudah_Asuransi,Umur_Kendaraan,Kendaraan_Rusak,Premi,Kanal_Penjualan,Lama_Berlangganan,Tertarik
0,Wanita,49,1,8,0,1-2 Tahun,Pernah,46963,26,145,0
1,Pria,22,1,47,1,< 1 Tahun,Tidak,39624,152,241,0
2,Pria,24,1,28,1,< 1 Tahun,Tidak,110479,152,62,0
3,Pria,46,1,8,1,1-2 Tahun,Tidak,36266,124,34,0
4,Pria,35,1,23,0,1-2 Tahun,Pernah,26963,152,229,0

In [3]:
df.describe()

,Umur,SIM,Kode_Daerah,Sudah_Asuransi,Premi,Kanal_Penjualan,Lama_Berlangganan,Tertarik
count,47639.000000,47639.000000,47639.000000,47639.000000,47639.000000,47639.000000,47639.000000,47639.000000
mean,38.815466,0.997922,26.331514,0.457608,30626.481202,112.180566,154.447574,0.123029
std,15.548817,0.045540,13.213353,0.498205,17404.792248,54.162703,83.642137,0.328474
min,20.000000,0.000000,0.000000,0.000000,2630.000000,1.000000,10.000000,0.000000
25%,25.000000,1.000000,15.000000,0.000000,24395.500000,29.000000,82.000000,0.000000
50%,36.000000,1.000000,28.000000,0.000000,31738.000000,135.000000,155.000000,0.000000
75%,49.000000,1.000000,35.000000,1.000000,39474.500000,152.000000,227.000000,0.000000
max,85.000000,1.000000,52.000000,1.000000,540165.000000,163.000000,299.000000,1.000000

In [7]:
# Pembuatan variabel baru untuk menampung proses labele encoding yang pada kasus ini untuk melabeli data yang diinginkan yaitu
# Jenis kelamin, Umur Kendaraan, dan Kendaraan Rusak dari kategorikal data menjadi data numerik.

le = preprocessing.LabelEncoder()
def encode(type, change):
  df[type] = le.fit_transform(df[type])
  df[type] = df[type].replace(change, np.NaN)

encode('Jenis_Kelamin', 2)
encode('Umur_Kendaraan', 3)
encode('Kendaraan_Rusak', 2)
df.head()

,Jenis_Kelamin,Umur,SIM,Kode_Daerah,Sudah_Asuransi,Umur_Kendaraan,Kendaraan_Rusak,Premi,Kanal_Penjualan,Lama_Berlangganan,Tertarik
0,1,49,1,8,0,0,0,46963,26,145,0
1,0,22,1,47,1,1,1,39624,152,241,0
2,0,24,1,28,1,1,1,110479,152,62,0
3,0,46,1,8,1,0,1,36266,124,34,0
4,0,35,1,23,0,0,0,26963,152,229,0

In [10]:
# Proses Penormalisasian menggunakan MinMaxScalar dari library sklearn.preprocessing. 

names = df.columns
scaler = preprocessing.MinMaxScaler()
d = scaler.fit_transform(df)
df = pd.DataFrame(d, columns=names)
df.head()

,Jenis_Kelamin,Umur,SIM,Kode_Daerah,Sudah_Asuransi,Umur_Kendaraan,Kendaraan_Rusak,Premi,Kanal_Penjualan,Lama_Berlangganan,Tertarik
0,1.0,0.446154,1.0,0.153846,0.0,0.0,0.0,0.745707,0.154321,0.467128,0.0
1,0.0,0.030769,1.0,0.903846,1.0,0.5,1.0,0.622260,0.932099,0.799308,0.0
2,0.0,0.400000,1.0,0.153846,1.0,0.0,1.0,0.565777,0.759259,0.083045,0.0
3,0.0,0.230769,1.0,0.442308,0.0,0.0,0.0,0.409295,0.932099,0.757785,0.0
4,0.0,0.092308,1.0,0.538462,1.0,0.5,1.0,0.674354,0.932099,0.650519,0.0

In [11]:
# Proses Export Dataset setelah proses preprocessing.

df.to_csv('Dataset/kendaraan_test_clean.csv', index=False)